// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-twilight.css'
// Check out "bower_components/prism/themes/" for available themes


h1, h2 {
	color: #000;
}
.bespoke-parent{
	background: #000;	
}
.bespoke-slide{
	background: #fff;
}
.bespoke-progress-parent{
	height: 12px;
}
footer{
	position: absolute;
	bottom: 4px;
}
footer a{
	color: #0089F3;
}
pre {
	max-width:100%;
}
code[class*="language-"], pre[class*="language-"] {
	font-size:.6em;
	line-height: 0.7 !important;
}
.img_wrapper{
    max-width: 100%;
    height: 100%; 
}
.img_wrapper img {
    border: 2px solid;
    border-radius: 3px;
    max-width: 100%;
    max-height: 100%;
}
li.no-num {
    list-style: none;
}
footer>a>i.fa {
    margin-left: 4px;
}